# ==========================
# macOS
# ==========================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ==========================
# Xcode
# ==========================
build/
DerivedData/
*.xccheckout
*.xcscmblueprint
*.xcuserdatad
*.xcuserdata

# User-specific
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# ==========================
# CocoaPods
# ==========================
Pods/
Podfile.lock

# ==========================
# Keep project/workspace
# ==========================
!*.xcodeproj/*
!*.xcworkspace/*

